body {
	text-align: center;
}

.page-container {
	margin: 0 auto;
	max-width: 1000px;
	height: 100vh;
	background-color: #FFEEEE;
}

.drum-machine {
	width: 900px;
	height: 550px;
	max-height: 600px;
	margin: 0 auto;
	border: 3px solid dark-gray;
	box-shadow: 0 0 10px 3px gray;
	padding: 5px;
}
.top-bar {
	width: 100%;
	background-color: #282828;
	height: 40px;
	position: relative;

}
.file-btn {
	border: 1px solid black;
	margin: 5px;
	float: left;
	width: 60px;
	height: 25px;
	background-color: #7c7c6a;
}
.badge {
	width: 200px;
	height: 25px;
	background-color: #D0D0D0;
	position: absolute;
	right: 5px;
	top: 10px;
}
.tech-sect {
	height: 500px;
	width: 890px;
	background-color: #232322;
	padding: 5px;



}
.left-sect {
	width: 120px;
	height: 480px;
	background-color: #282828;
	margin-right: 10px;
	float: left;
	padding: 10px;
	position: relative;
}
.spare {
	border: 1px solid black;
	width: 115px;
	height: 280px;

}
.proj-disp {
	border: 1px solid black;
	width: 115px;
	height: 30px;
	position: absolute;
	bottom: 165px;
}
.bpm-sect {
	border: 1px solid black;
	width: 115px;
	height: 80px;
	position: absolute;
	bottom: 70px;
}

.bpm-disp {
	background-color: #FFFCFF;	
	width: 50%;
	height: 100%;
	float: left;

	
}
.bpm-knob {
	background-color: #FFFFCF;
	width: 50%;
	height: 100%;
	float: left;


}
.play-stop {
	width: 115px;
	height: 50px;
	position: absolute;
	bottom: 10px;
}
.play-btn {
	width: 50%;
	height: 100%;
	float: left;
	background-color: green;


}
.stop-btn {
	width: 50%;
	height: 100%;
	float: left;
	background-color: red;

}

.right-sect {
	background-color: #282828;
	padding: 5px;
	width: 730px;
	height: 490px;
	float: left;


}
.led-step {
	width: 630px;
	height: 30px;
	background-color: #1c1c1c;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-left: 100px;


}
.led {
	float: left;
	width: 20px;
	height: 20px;
	background-color: #490505;
	border: 1px solid dark-gray;
	border-radius: 50%;

}

.row {
	margin-top: 5px;
	width: 730px;
	height: 60px;
	background-color: #1c1c1c;
	
}
.left-control {
	background-color: #CCCFCC;
	width: 100px;
	height: 100%;
	float: left;

}
.top-controls {
	width: 100%;
	height: 50%;
	background-color: #DCDCDC;

}
.top-sect {
	width: 33px;
	height: 100%;
	float: left;

}

.mute-led {
	width: 100%;
	height: 60%;

}
.solo-led {
	width: 100%;
	height: 60%;
}
.led-text {
	font-size: 10px;
	width: 100%
	height: 40%;

}
.sample-disp {
	width: 100%;
	height: 50%;
}

.step-btn {
	height: 100%;
	width: 630px;
	float: left;
	display: flex;
	justify-content: space-around;
	align-items: center;

}
.switch {
	height: 30px;
	width: 30px;
	border: 1px solid #043d0a;
	float: left;
}

.active-switch {	
	background-color: #10f228;	
	box-shadow: 0 0 15px 3px #10f228;
	border: 1px solid #10a51a;

}

.unactive-switch {
	background-color: #043d0a;	
}
.add-remove {

}

.red-led-lit {
	background-color: #ff1e1e;
	box-shadow: 0 0 10px 5px #ff1e1e;
	animation: ledOut 50ms;
	-o-animation: ledOut 50ms;
	-moz-animation: ledOut 50ms;
	-webkit-animation: ledOut 50ms;
	animation-fill-mode: forwards;
	
}

@keyframes ledOut {
	from {}
	to {
		
		background-color: #490505;
		border: 1px solid dark-gray;
		box-shadow: 0 0 0 0 #000000;

	} 
}