/*

    font-family: 'VT323', monospace;

    font-family: 'Press Start 2P', cursive;

*/

body {
	text-align: center;
	cursor: default;
	font-family: 'Baumans', cursive;
	margin: 0 auto;
}

.page-container {
	margin: 0 auto;
	max-width: 100vw;
	height: 100vh;
	/*background-color: #f9f9f9;*/
	display: flex;
	align-items: center;
	justify-content: center;
	 background: rgb(238,174,232);
	background: linear-gradient(180deg, rgba(238,174,232,0.4920168751094187) 0%, rgba(148,187,233,0.6152661748293067) 100%);  
}

.drum-machine {
	width: 1000px;
	height: 570px;
	max-height: 600px;
	margin: 0 auto;
	background-color: #d8d8d8;
	box-shadow: 0 0 10px 2px #686868;
	padding: 5px;
	position: relative;
	border: 1px solid #686868;
	border-radius: 3px 3px 3px 3px;
	overflow: hidden;



}
.border-pulse {
	box-shadow: 0 0 0 0 #f9f9f9;
	animation: bPulse 500ms;
	-o-animation: bPulse 500ms;
	-moz-animation: bPulse 500ms;
	-webkit-animation: bPulse 500ms;
	animation-fill-mode: forwards;
	
}

@keyframes bPulse {
	0% {}
	10% {box-shadow: 0 0 50px 5px #50c6fc;}
	100%{} 
}

.top-bar {
	width: 100%;
	background-color: #d8d8d8;
	height: 60px;
	position: relative;

}
.file-btn {
	border: 1px solid black;
	margin: 5px;
	margin-top: 20px;

	float: left;
	width: 60px;
	height: 25px;
	background-color: #7c7c6a;
	border-radius: 4px 4px 4px 4px;

}
.badge {
	font-family: 'Audiowide', cursive;
	line-height: 55px;
	font-size: 2.8em;
	text-align: right;
	color: #686868;
	width: 280px;
	height: 55px;
	background-color: #d8d8d8;
	position: absolute;
	right: 27px;
	top: 5px;
}

.tech-sect {
	height: 500px;
	width: 990px;
	background-color: #d8d8d8;
	padding: 5px;
}

.blur {
	/*filter: brightness(50%);*/
	opacity: 0.6;
}
.left-sect {
	width: 120px;
	height: 493px;
	background-color: #d8d8d8;
	border: 1px solid #7c7c7c;
	margin-right: 10px;
	margin-top: 5px;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0px;
	position: relative;
	border-radius: 5px 5px 5px 5px;

}
.spare {
	background-color: #7c7c7c;
	color: white;
	border: 1px solid #7c7c7c;
	font-size: 0.95em;
	position: relative;
	left: -11px;
	width: 140px;
	height: 25px;
	line-height: 25px;
	border-radius: 5px 5px 0px 0px;



}
.proj-disp {
	font-family: 'Iceberg', cursive;
	background-color: #300000;
	color: #e20000;
	text-shadow: 1px 1px 10px #e20000;
	font-size: 1.4em;
	border-radius: 4px 4px 4px 4px;
	border: 1px solid black;
	width: 118px;
	height: 35px;
	line-height: 35px;
	position: absolute;
	bottom: 165px;
}
.bpm-sect {
	width: 122px;
	height: 80px;
	position: absolute;
	bottom: 75px;
}

.bpm-disp {
	font-family: 'Iceberg', cursive;
	background-color: #300000;
	color: #e20000;
	text-shadow: 1px 1px 10px #e20000;
	font-size: 1.7em;
	border: 1px solid black;
	width: 118px;
	height: 50%;
	line-height: 40px;
	float: left;
	border-radius: 4px 4px 4px 4px;


	
}
.bpm-btn {
	background-color: #b2b2b2;
	width: 59px;
	height: 50%;
	float: left;
	border-radius: 6%;
	box-shadow: 0 1px 2px 1px #595959;
	margin-top: 4px;
	margin-right: 2px;
}
.up {
	width: 0;
	height: 0;
	margin-top: 12px;
	margin-left: 15px;
	border-left: 15px solid transparent;
 	border-right: 15px solid transparent;
	border-bottom: 15px solid #f98918;
}
.down {
	width: 0;
	height: 0;
	margin-top: 14px;
	margin-left: 15px;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 15px solid #f98918;
}
.play-stop {
	width: 120px;
	height: 50px;
	position: absolute;
	bottom: 10px;
}
.play-btn {
	width: 59px;
	height: 100%;
	margin-right: 2px;
	float: left;
	background-color: #b2b2b2;
	border-radius: 6%;
	box-shadow: 0 1px 1px 1px #595959;
}
.stop-btn {
	width: 59px;
	height: 100%;
	float: left;
	background-color: #b2b2b2;
	border-radius: 6%;
	box-shadow: 0 1px 1px 1px #595959;
}


.tri-play {
	margin-left: 15px;
	margin-top: 12px;
	width: 0;
	height: 0;
	border-top: 13px solid transparent;
	border-left: 32px solid #1b381b;
	border-bottom: 13px solid transparent;
}
.squ-stop{
	margin-left: 16px;
	margin-top: 13px;
	width: 26px;
	height: 24px;
	background-color: #ba0d0d;
	/*border-left: 32px solid #1b381b;*/

}
.tri-play-lit {
	border-left: 32px solid #35ff49;
	animation: playPulse 350ms;
	-o-animation: playPulse 350ms;
	-moz-animation: playPulse 350ms;
	-webkit-animation: playPulse 350ms;
	animation-fill-mode: forwards;
}


@keyframes playPulse {
	from {}
	to {
		border-left: 32px solid #1b381b;
	} 
}

.right-sect {
	background-color: #d8d8d8;
	padding: 5px;
	width: 820px;
	height: 490px;
	float: left;
}


.led-step {
	width: 815px;
	height: 30px;
	background-color: #d8d8d8;
	/*border: 1px solid #686868;*/
	position: relative;
	align-items: center;
	margin-left: 0px;
	padding-left: 0px;
	padding-right: 5px;
	margin-bottom: 2px;


}

.led-sausage {
	background-color: #7c7c7c;
	color: white;
	height: 22px;
	width: 821px;
	font-size: 0.9em;
	line-height: 22px;
	position: absolute;
	top: 0px;
	display: flex;
	justify-content: flex-start;
	z-index: 1;
	text-align: left;
	border-radius: 22px 22px 22px 22px;
}

.led-sausage span {
	margin-right: 46px;
	margin-left: 28px;
}

.led {
	float: left;
	position: relative;
	width: 14px;
	height: 14px;
	background-color: #493e3e;
	border: 1px solid #493e3e;
	border-radius: 50%;
	margin-right: 23px;
	margin-top: 3px;
	z-index: 2;
}
.rows {
	background-color: #d8d8d8;
	width: 840px;
	height: 398px;
	float: left;
	overflow-x: hidden;
	/*border-bottom: 1px solid black;*/
}

.breaker {
	height: 1px;
	width: 822px;
	position: absolute;
	top: 509px;
	background-color: #7c7c7c;
}

.row {
	margin-bottom: 5px;
	width: 820px;
	height: 60px;
	background-color: #bcbcbc;
	border: 1px solid #686868;
	border-radius: 5px 5px 5px 5px;
	overflow: hidden;


	
}
.left-control {
	background-color: #bcbcbc; /*deep blue */	
	width: 150px;
	height: 100%;
	float: left;
	margin-right: 0; 
	color: black;

}
.top-controls {
	width: 100%;
	height: 50%;
	background-color: #bcbcbc;

}
.top-sect {
	width: 33px;
	height: 30px;
	float: left;

}

.volume-slide {
	height: 30px;
	width: 80px;
	float: left;

}

.slider {
  -webkit-appearance: none;  
  appearance: none;
  width: 85%; 
  height: 24px; 
  background: #bcbcbc; 
  outline: none; 
  opacity: 0.7; 
  -webkit-transition: .2s; 
  transition: opacity .2s;
}
.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 5px; 
  height: 20px; 
  background: #141414; 
  cursor: pointer; 
}
.slider::-moz-range-thumb {
  width: 5px; 
  height: 20px; 
  background: #141414;
  cursor: pointer; 
}

.mute-led {
	width: 40%;
	height: 40%;
	border-radius: 50%;
	background-color: #490505;
	margin-bottom: 1px;
	margin-left: 11px;
	margin-top: 3px;

}

.mute-lit {
	background-color: #ff1e1e;
	box-shadow: 0 0 2px 2px #ff1e1e;
}




.solo-led {
	width: 40%;
	height: 40%;
	border-radius: 50%;
	background-color: #444311;
	margin-bottom: 1px;
	margin-left: 11px;
	margin-top: 3px;
}
.solo-lit {
	background-color: #fffb42;
	box-shadow: 0 0 2px 2px  #fffb42;
}


.led-text {
	font-size: 11px;
	width: 100%;
	height: 40%;
	margin-left: 1px;

}
.sample-disp {
	font-family: 'Iceberg', cursive;
	font-size: 0.95em;
	background-color: #300000;/*	deep blue*/
	color: #e20000;
	text-shadow: 1px 1px 10px #e20000;
	width: 100%;
	height: 50%;
	line-height: 30px;
	text-align: center;
	text-transform: uppercase;
}

.alert {
    -webkit-animation-name: alert-red;
    -webkit-animation-duration: 110ms;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: alert-red;
    -moz-animation-duration: 110ms;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: alert-red;
    animation-duration: 110ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes alert-red {  
    0% { 
    	color: red;
    	text-shadow: 0 0 2px 2px red; 
    }
    100% {
    	color: inherit; 
    }
}

@-webkit-keyframes alert-red {  
    0% { 
    	color: red;
    	text-shadow: 0 0 2px 2px red; 

    }
    100% {
    	color: inherit; 

    }
}

@keyframes alert-red {  
    0% { 
    	color: red;
    	text-shadow: 0 0 2px 2px red; 
    }
    100% {
    	color: inherit; 
    }
}

.inst-blink {
	float: left;
	width: 1px;
	height: 100%;
	background-color: #282828;
}

.inst-blink-lit {
	background-color: #ffffff;
	box-shadow: 0 0 2px 2px #ffffff;
	animation: instOut 2ms;
	-o-animation: instOut 2ms;
	-moz-animation: instOut 2ms;
	-webkit-animation: instOut 2ms;
	animation-fill-mode: forwards;
	
}

@keyframes instOut {
	from {}
	to {
		
		background-color: #282828;
		box-shadow: 0 0 0 0 #000000;

	} 
}


.step-btn {
	height: 100%;
	width: 640px;
	float: left;
	display: flex;
	justify-content: flex-start;
	align-items: center;

}
.switch {
	height: 30px;
	width: 30px;
	border: 1px solid #828282;
	float: left;
	margin-right: 7px;
}

.active-switch {	
	background-color: #effcff;
	box-shadow: 0 0 15px 4px #effcff;/*, #ffffe2 0px 0px 4px inset;*/
	border: 1px solid #effcff;
	z-index: 20;


}
.unactive-switch {
	background-color: #828282;	
}
.step-blink {
	animation: blinky 40ms;
	-o-animation: blinky 40ms;
	-moz-animation: blinky 40ms;
	-webkit-animation: blinky 40ms;
}
@keyframes blinky {
	from {}
	to {
		
		background-color: #043d0a;
		border: 1px solid dark-gray;
		box-shadow: 0 0 0 0 #000000;

	} 
}



.add-remove {
	height: 14px;
	width: 14px;
	text-align: center;
	line-height: 10px;
	background-color: #dd0f0f;
	color: white;
	position: relative;
	top: 0;
	left: 640px;
	border-radius: 50%;
	font-size: 1.4em;
	font-weight: bold;
}
.add-remove:hover {
	box-shadow: 0 0 1px 1px red;
}

.white-rec {
	background-color: white;
	height: 2px;
	width: 8px;
	position: absolute;
	top: 6px;
	left: 3px;
}

.red-led-lit {
	background-color: #ff1e1e;
	border: 1px solid #ff1e1e;
	box-shadow: 0 0 10px 3px #ff1e1e;
	animation: ledOut 150ms;
	-o-animation: ledOut 150ms;
	-moz-animation: ledOut 150ms;
	-webkit-animation: ledOut 150ms;
	animation-fill-mode: forwards;
	
}

@keyframes ledOut {
	from {}
	to {
		
		background-color: #493e3e;
		border: 1px solid #493e3e;
		box-shadow: 0 0 0 0 #000000;

	} 
}

.led-two {
	/*float: left;*/
	margin-right: 82px;
	margin-left: 70px;
	width: 19px;
	max-width: 19px;
	height: 19px;
	background-color: #010121;
	border: 1px solid dark-gray;
	border-radius: 50%;

}

.two-led-lit {
	background-color: #5194ff;
	box-shadow: 0 0 10px 5px #5194ff;
	animation: ledOutTwo 250ms;
	-o-animation: ledOutTwo 250ms;
	-moz-animation: ledOutTwo 250ms;
	-webkit-animation: ledOutTwo 250ms;
	animation-fill-mode: forwards;
	
}
.three-led-lit {
	background-color: #f6fc55;
	box-shadow: 0 0 10px 5px #f6fc55;
	animation: ledOutTwo 250ms;
	-o-animation: ledOutTwo 250ms;
	-moz-animation: ledOutTwo 250ms;
	-webkit-animation: ledOutTwo 250ms;
	animation-fill-mode: forwards;
	
}

@keyframes ledOutTwo {
	from {}
	to {
		
		background-color: #010121;
		border: 1px solid dark-gray;
		box-shadow: 0 0 0 0 #000000;

	} 
}


.shadow {
	height: 100%;
	width: 100%;
	background-color: #000000;
	position: absolute;
	opacity: 0.3;
	top: 0;
	left: 0;
	z-index: 998;
	display: none;
}

.sound-select-popup {
	height: 505px;
	width: 820px;
	position: absolute;
	top: 35px;
	left: 95px;
	z-index: 999;
	background: rgb(233, 233, 233); /*fallback */
	background: rgba(233, 233, 233, 0.95); 
	border: 1px solid #444444;
	color: #444444;
	text-decoration: none;
	display: none;
	border-radius: 3px 3px 3px 3px;


}


.menu-box {
	position: relative;
	height: 430px;
	width: 190px;
	border: 1px solid #444444;
	float: left;
	top: 10px;
	left: 10px;
	margin-right: 10px;
	border-radius: 3px 3px 3px 3px;

}

.ok-btns {
	position: absolute;
	top: 450px;
	left: 414px;
	right: 10px;
	height: 45px;
	width: 395px;
	/*border: 1px solid blue;*/
	float: left;


}

.okay-btn {
	width: 190px;
	height: 100%;
	line-height: 43px;
	font-size: 1.3em;
	border: 1px solid #444444;
	float: left;
	color: #444444;
	margin-right: 10px;
	border-radius: 3px 3px 3px 3px;


}

.canc-btn {
	width: 190px;
	height: 100%;
	font-size: 1.3em;
	line-height: 43px;
	border: 1px solid #444444;
	float: left;
	color: #444444;
	border-radius: 3px 3px 3px 3px;


}

.okay-btn:hover {
	background-color: #444444;
	color: #eaeaea;

}

.canc-btn:hover {
	background-color: #444444;
	color: #eaeaea;
}

.menus {
	position: absolute;
	width: 100%;
	height: 100%;
	border: solid 1px red;
	color: white;
	border-radius: 3px 3px 3px 3px;

}

ul {
	list-style-type: none;
	padding-left: 0px;
	text-transform: uppercase;
}
li {
	width: 100%;
	line-height: 20px;
}

li:hover{
	color: #eaeaea;
	background-color: #444444;
	cursor: default;
}

.menu-toggle {
	color: #eaeaea;
	background-color: #444444;
}
.menu-folder-one {
	position: absolute;
	height: 430px;
	width: 190px;
	float: left;
	top: 11px;
	left: 11px;
}
.menu-folder-two {
	position: absolute;
	height: 430px;
	width: 190px;
	float: left;
	top: 11px;
	left: 213px;
}
.menu-folder-three {   /*DRY THIS*/
	position: absolute;
	height: 430px;
	width: 190px;
	overflow-y: scroll;
	
	float: left;
	top: 11px;
	left: 415px;
	margin-right: 10px;
}
.menu-folder-four {
	position: absolute;
	height: 430px;
	width: 190px;
	float: left;
	top: 11px;
	left: 617px;
	overflow-y: scroll;

}

.add-btn {
	position: absolute;
	bottom: 15px;
	left: 188px;
	height: 40px;
	width: 40px;
	text-align: left;
	line-height: 30px;
	background-color: #7c7c7c;
	border-radius: 50%;
	z-index: 2;

}

.add-but{
	height: 28px;
	width: 28px;
	margin-right: 0px;
	margin-left: 6px;
	margin-top: 6px;
	border-radius: 50%;
	text-align: center;
	position: relative;
	line-height: 30px;
	float: left;
	background-color: #ffa114;
	z-index: 2;
	box-shadow: 0 1px 1px 1px #595959;

}

.add-txt {
	background-color: #7c7c7c;
	height: 20px;
	line-height: 20px;
	color: white;
	position: relative;
	top: 10px;
	left: 10px;
	width: 100px;
	font-size: 0.8em;
	border-radius: 0 20px 20px 0;
	z-index: 1;

}

.cle-btn {
	background-color: #b2b2b2;	
	height: 35px;
	line-height: 35px;
	font-size: 1.2em;
	width: 120px;
	position: absolute;
	bottom: 18px;
	right: 410px;
	box-shadow: 0 1px 1px 1px #595959;
	border-radius: 4%;
}
.ran-btn {
	background-color: #b2b2b2;
	height: 35px;
	line-height: 35px;
	font-size: 1.2em;
	width: 120px;
	position: absolute;
	bottom: 18px;
	right: 280px;
	box-shadow: 0 1px 1px 1px #595959;
	border-radius: 4%;
}
.sran-btn {
	background-color: #b2b2b2;
	height: 35px;
	line-height: 35px;
	font-size: 1.2em;
	width: 120px;
	position: absolute;
	bottom: 18px;
	right: 150px;
	box-shadow: 0 1px 1px 1px #595959;
	border-radius: 4%;
}
.glitch-btn {
	background-color: #b2b2b2;
	height: 35px;
	line-height: 35px;
	font-size: 1.2em;
	width: 120px;
	position: absolute;
	bottom: 18px;
	right: 20px;
	box-shadow: 0 1px 1px 1px #595959;
	border-radius: 4%;
}

.orange {
	font-color: #ffa114;
}

/*.glitch-container {
	width: 155px;
	height: 28px;
	position: absolute;
	bottom: 14px;
	right: 15px;
	background-color: #000000;
	border: 1px solid purple;
}*/

/* .g-slider {
 	height: 26px;
	width: 60px;
	float: left;
 }*/

 .btn-grey {
 	background-color: #dd0f0f;
 }
 .btn-inset {
	box-shadow: inset 0 1px 2px 1px;
}

#d0 {
	display: none;
}
#d1 {
	display: none;
}

#d00 {
	display: none;
}
#d000 {
	display: none;
}
#d001 {
	display: none;
}
#d002 {
	display: none;
}
#d003 {
	display: none;
}
#d004 {
	display: none;
}
#d005 {
	display: none;
}
#d006 {
	display: none;
}
#d007 {
	display: none;
}
#d01 {
	display: none;
}
#d010 {
	display: none;
}
#d011 {
	display: none;
}
#d012 {
	display: none;
}
#d013 {
	display: none;
}
#d014 {
	display: none;
}
#d015 {
	display: none;
}
#d016 {
	display: none;
}
#d017 {
	display: none;
}
#d018 {
	display: none;
}
#d02 {
	display: none;
}
#d020 {
	display: none;
}
#d021 {
	display: none;
}
#d022 {
	display: none;
}
#d023 {
	display: none;
}
#d024 {
	display: none;
}
#d025 {
	display: none;
}
#d026 {
	display: none;
}
#d027 {
	display: none;
}
#d03 {
	display: none;
}
#d030 {
	display: none;
}
#d031 {
	display: none;
}
#d032 {
	display: none;
}
#d033 {
	display: none;
}
#d034 {
	display: none;
}
#d04 {
	display: none;
}
#d040 {
	display: none;
}
#d041 {
	display: none;
}
#d042 {
	display: none;
}
#d043 {
	display: none;
}
#d044 {
	display: none;
}
#d045 {
	display: none;
}
#d046 {
	display: none;
}
#d047 {
	display: none;
}
#d05 {
	display: none;
}
#d050 {
	display: none;
}
#d051 {
	display: none;
}
#d052 {
	display: none;
}
#d053 {
	display: none;
}
#d054 {
	display: none;
}
#d055 {
	display: none;
}
#d056 {
	display: none;
}
#d057 {
	display: none;
}
#d06 {
	display: none;
}
#d060 {
	display: none;
}
#d061 {
	display: none;
}
#d062 {
	display: none;
}
#d063 {
	display: none;
}
#d064 {
	display: none;
}
#d065 {
	display: none;
}
#d066 {
	display: none;
}
#d07 {
	display: none;
}
#d070 {
	display: none;
}
#d071 {
	display: none;
}
#d072 {
	display: none;
}
#d10 {
	display: none;
}
#d11 {
	display: none;
}
#d12 {
	display: none;
}
#d13 {
	display: none;
}
