/*

    font-family: 'VT323', monospace;

    font-family: 'Press Start 2P', cursive;

*/

body {
	text-align: center;
	cursor: default;
}

.page-container {
	margin: 0 auto;
	max-width: 1100px;
	height: 100vh;
	background-color: #0c0c0c;
}

.drum-machine {
	width: 1000px;
	height: 550px;
	max-height: 600px;
	margin: 0 auto;
	border: 3px solid dark-gray;
	box-shadow: 0 0 10px 3px green;
	padding: 5px;
	position: relative;
}
.top-bar {
	width: 100%;
	background-color: #282828;
	height: 40px;
	position: relative;

}
.file-btn {
	border: 1px solid black;
	margin: 5px;
	float: left;
	width: 60px;
	height: 25px;
	background-color: #7c7c6a;
}
.badge {
	width: 200px;
	height: 25px;
	background-color: #D0D0D0;
	position: absolute;
	right: 5px;
	top: 10px;
}
.tech-sect {
	height: 500px;
	width: 990px;
	background-color: #232322;
	padding: 5px;




}
.left-sect {
	width: 120px;
	height: 480px;
	background-color: #282828;
	margin-right: 10px;
	float: left;
	padding: 10px;
	position: relative;
}
.spare {
	border: 1px solid black;
	width: 115px;
	height: 280px;

}
.proj-disp {
	border: 1px solid black;
	width: 115px;
	height: 30px;
	position: absolute;
	bottom: 165px;
}
.bpm-sect {
	border: 1px solid black;
	width: 115px;
	height: 80px;
	position: absolute;
	bottom: 70px;
}

.bpm-disp {
	background-color: #FFFCFF;	
	width: 100%;
	height: 50%;
	float: left;

	
}
.bpm-btn {
	background-color: #FFFFCF;
	width: 50%;
	height: 50%;
	float: left;


}
.play-stop {
	width: 115px;
	height: 50px;
	position: absolute;
	bottom: 10px;
}
.play-btn {
	width: 50%;
	height: 100%;
	float: left;
	background-color: green;


}
.stop-btn {
	width: 50%;
	height: 100%;
	float: left;
	background-color: red;

}

.right-sect {
	background-color: #282828;
	padding: 5px;
	width: 750px;
	height: 490px;
	float: left;
}


.led-step {
	width: 815px;
	height: 30px;
	background-color: #1c1c1c;
	display: flex;
	justify-content: flex-start;

	align-items: center;
	margin-left: 0px;
	padding-left: 0px;
	padding-right: 5px;
	margin-bottom: 5px;


}
.led {
	float: left;
	width: 20px;
	height: 20px;
	background-color: #490505;
	border: 1px solid dark-gray;
	border-radius: 50%;
	margin-right: 19px;

}
.rows {
	background-color: #282828;
	width: 840px;
	height: 420px;
	float: left;
	overflow-x: hidden;
	border-bottom: 1px solid black;
}

.row {
	margin-top: 5px;
	width: 820px;
	height: 60px;
	background-color: #1c1c1c;
	
}
.left-control {
	background-color: #1b1b1b;
	width: 150px;
	height: 100%;
	float: left;
	margin-right: 0; 
	color: white;

}
.top-controls {
	width: 100%;
	height: 50%;
	background-color: #1f1f1f;

}
.top-sect {
	width: 33px;
	height: 30px;
	float: left;

}

.volume-slide {
	height: 30px;
	width: 80px;
	float: left;

}

.slider {
  -webkit-appearance: none;  
  appearance: none;
  width: 85%; 
  height: 26px; 
  background: #1f1f1f; 
  outline: none; 
  opacity: 0.7; 
  -webkit-transition: .2s; 
  transition: opacity .2s;
}
.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 5px; 
  height: 20px; 
  background: #4CAF50; 
  cursor: pointer; 
}
.slider::-moz-range-thumb {
  width: 5px; 
  height: 20px; 
  background: #4CAF50;
  cursor: pointer; 
}

.mute-led {
	width: 40%;
	height: 40%;
	border-radius: 50%;
	background-color: #490505;
	margin-bottom: 1px;
	margin-left: 11px;
	margin-top: 3px;

}

.mute-lit {
	background-color: #ff1e1e;
	box-shadow: 0 0 2px 2px #ff1e1e;
}




.solo-led {

	width: 40%;
	height: 40%;
	border-radius: 50%;
	background-color: #444311;
	margin-bottom: 1px;
	margin-left: 11px;
	margin-top: 3px;
}
.solo-lit {
	background-color: #fffb42;
	box-shadow: 0 0 2px 2px  #fffb42;
}


.led-text {
	font-size: 10px;
	width: 100%;
	height: 40%;
	margin-left: 1px;

}
.sample-disp {
	width: 100%;
	height: 50%;
	line-height: 30px;
	font-size: 0.75em;
	text-align: center;
	text-transform: uppercase;
}

.alert {
    -webkit-animation-name: alert-red;
    -webkit-animation-duration: 110ms;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: alert-red;
    -moz-animation-duration: 110ms;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: alert-red;
    animation-duration: 110ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes alert-red {  
    0% { 
    	color: red;
    	text-shadow: 0 0 2px 2px red; 
    }
    100% {
    	color: inherit; 
    }
}

@-webkit-keyframes alert-red {  
    0% { 
    	color: red;
    	text-shadow: 0 0 2px 2px red; 

    }
    100% {
    	color: inherit; 

    }
}

@keyframes alert-red {  
    0% { 
    	color: red;
    	text-shadow: 0 0 2px 2px red; 
    }
    100% {
    	color: inherit; 
    }
}

.inst-blink {
	float: left;
	width: 1px;
	height: 100%;
	background-color: #282828;
}

.inst-blink-lit {
	background-color: #ffffff;
	box-shadow: 0 0 2px 2px #ffffff;
	animation: instOut 2ms;
	-o-animation: instOut 2ms;
	-moz-animation: instOut 2ms;
	-webkit-animation: instOut 2ms;
	animation-fill-mode: forwards;
	
}

@keyframes instOut {
	from {}
	to {
		
		background-color: #282828;
		box-shadow: 0 0 0 0 #000000;

	} 
}


.step-btn {
	height: 100%;
	width: 640px;
	float: left;
	display: flex;
	justify-content: flex-start;
	align-items: center;

}
.switch {
	height: 30px;
	width: 30px;
	border: 1px solid #043d0a;
	float: left;
	margin-right: 7px;
}

.active-switch {	
	background-color: #10f228;	
	box-shadow: 0 0 15px 3px #10f228;
	border: 1px solid #10a51a;


}
.step-blink {
	animation: blinky 40ms;
	-o-animation: blinky 40ms;
	-moz-animation: blinky 40ms;
	-webkit-animation: blinky 40ms;
}
@keyframes blinky {
	from {}
	to {
		
		background-color: #043d0a;
		border: 1px solid dark-gray;
		box-shadow: 0 0 0 0 #000000;

	} 
}

.unactive-switch {
	background-color: #043d0a;	
}

.add-remove {
	height: 14px;
	width: 14px;
	text-align: center;
	line-height: 10px;
	background-color: red;
	color: white;
	position: relative;
	top: 0;
	left: 640px;
	border-radius: 50%;
	text-size: 0.5em;
	font-weight: bold;

}

.red-led-lit {
	background-color: #ff1e1e;
	box-shadow: 0 0 10px 5px #ff1e1e;
	animation: ledOut 200ms;
	-o-animation: ledOut 200ms;
	-moz-animation: ledOut 200ms;
	-webkit-animation: ledOut 200ms;
	animation-fill-mode: forwards;
	
}

@keyframes ledOut {
	from {}
	to {
		
		background-color: #490505;
		border: 1px solid dark-gray;
		box-shadow: 0 0 0 0 #000000;

	} 
}

.led-two {
	/*float: left;*/
	margin-right: 20px;
	width: 150px;
	height: 100%;
	background-color: #010121;
	border: 1px solid dark-gray;
	/*border-radius: 50%;*/

}

.two-led-lit {
	background-color: #5194ff;
	box-shadow: 0 0 10px 5px #5194ff;
	animation: ledOutTwo 250ms;
	-o-animation: ledOutTwo 250ms;
	-moz-animation: ledOutTwo 250ms;
	-webkit-animation: ledOutTwo 250ms;
	animation-fill-mode: forwards;
	
}
.three-led-lit {
	background-color: #f6fc55;
	box-shadow: 0 0 10px 5px #f6fc55;
	animation: ledOutTwo 250ms;
	-o-animation: ledOutTwo 250ms;
	-moz-animation: ledOutTwo 250ms;
	-webkit-animation: ledOutTwo 250ms;
	animation-fill-mode: forwards;
	
}

@keyframes ledOutTwo {
	from {}
	to {
		
		background-color: #010121;
		border: 1px solid dark-gray;
		box-shadow: 0 0 0 0 #000000;

	} 
}

.sound-select-popup {
	height: 505px;
	width: 820px;
	position: absolute;
	top: 25px;
	left: 95px;
	z-index: 999;
	background: rgb(0, 0, 0); /*fallback */
	background: rgba(0, 0, 0, 0.8); 
	border: 1px solid green;
	/*opacity: 0.9;*/
	color: green;
	text-decoration: none;
	display: none;
	/*backdrop-filter: blur(10px);*/

}


.menu-box {
	position: relative;
	height: 430px;
	width: 190px;
	border: 1px solid green;
	float: left;
	top: 10px;
	left: 10px;
	margin-right: 10px;
}

.ok-btns {
	position: absolute;
	top: 450px;
	left: 414px;
	right: 10px;
	height: 45px;
	width: 395px;
	/*border: 1px solid blue;*/
	float: left;

}

.okay-btn {
	width: 190px;
	height: 100%;
	border: 1px solid green;
	float: left;
	color: green;
	margin-right: 10px;

}

.canc-btn {
	width: 190px;
	height: 100%;
	border: 1px solid green;
	float: left;
	color: green;

}

.okay-btn:hover {
	background-color: green;
	color: black;

}

.canc-btn:hover {
	background-color: green;
	color: black;
}

.menus {
	position: absolute;
	width: 100%;
	height: 100%;
	border: solid 1px red;
	color: white;
}

ul {
	list-style-type: none;
	padding-left: 0px;
	text-transform: uppercase;
}
li {
	width: 100%;
	line-height: 20px;
}

li:hover{
	color: black;
	background-color: green;
	cursor: default;
}

.menu-toggle {
	color: black;
	background-color: green;
}
.menu-folder-one {
	position: absolute;
	height: 430px;
	width: 190px;
	float: left;
	top: 11px;
	left: 11px;
}
.menu-folder-two {
	position: absolute;
	height: 430px;
	width: 190px;
	float: left;
	top: 11px;
	left: 213px;
}
.menu-folder-three {   /*DRY THIS*/
	position: absolute;
	height: 430px;
	width: 190px;
	overflow-y: scroll;
	
	float: left;
	top: 11px;
	left: 415px;
	margin-right: 10px;
}
.menu-folder-four {
	position: absolute;
	height: 430px;
	width: 190px;
	float: left;
	top: 11px;
	left: 617px;
	overflow-y: scroll;

}

.add-btn {
	position: absolute;
	bottom: 15px;
	left: 225px;
	height: 30px;
	width: 30px;
	background-color: blue;
	border-radius: 50%;
	text-align: center;
	line-height: 30px;
}

.cle-btn {
	background-color: green;
	height: 30px;
	width: 100px;
	position: absolute;
	bottom: 14px;
	right: 400px;
}
.ran-btn {
	background-color: red;
	height: 30px;
	width: 100px;
	position: absolute;
	bottom: 14px;
	right: 290px;
}
.sran-btn {
	background-color: yellow;
	height: 30px;
	width: 100px;
	position: absolute;
	bottom: 14px;
	right: 180px;
}

.glitch-container {
	width: 155px;
	height: 28px;
	position: absolute;
	bottom: 14px;
	right: 15px;
	background-color: #000000;
	border: 1px solid purple;
}

.glitch-btn {
	width: 75px;
	height: 28px;
	background-color: blue;
	line-height: 30px;
	float: left;

}
 .g-slider {
 	height: 26px;
	width: 60px;
	float: left;
 }

 .btn-grey {
 	background-color: #252825;
 }

#d0 {
	display: none;
}
#d1 {
	display: none;
}

#d00 {
	display: none;
}
#d000 {
	display: none;
}
#d001 {
	display: none;
}
#d002 {
	display: none;
}
#d003 {
	display: none;
}
#d004 {
	display: none;
}
#d005 {
	display: none;
}
#d006 {
	display: none;
}
#d007 {
	display: none;
}
#d01 {
	display: none;
}
#d010 {
	display: none;
}
#d011 {
	display: none;
}
#d012 {
	display: none;
}
#d013 {
	display: none;
}
#d014 {
	display: none;
}
#d015 {
	display: none;
}
#d016 {
	display: none;
}
#d017 {
	display: none;
}
#d018 {
	display: none;
}
#d02 {
	display: none;
}
#d020 {
	display: none;
}
#d021 {
	display: none;
}
#d022 {
	display: none;
}
#d023 {
	display: none;
}
#d024 {
	display: none;
}
#d025 {
	display: none;
}
#d026 {
	display: none;
}
#d027 {
	display: none;
}
#d03 {
	display: none;
}
#d030 {
	display: none;
}
#d031 {
	display: none;
}
#d032 {
	display: none;
}
#d033 {
	display: none;
}
#d034 {
	display: none;
}
#d04 {
	display: none;
}
#d040 {
	display: none;
}
#d041 {
	display: none;
}
#d042 {
	display: none;
}
#d043 {
	display: none;
}
#d044 {
	display: none;
}
#d045 {
	display: none;
}
#d046 {
	display: none;
}
#d047 {
	display: none;
}
#d05 {
	display: none;
}
#d050 {
	display: none;
}
#d051 {
	display: none;
}
#d052 {
	display: none;
}
#d053 {
	display: none;
}
#d054 {
	display: none;
}
#d055 {
	display: none;
}
#d056 {
	display: none;
}
#d057 {
	display: none;
}
#d06 {
	display: none;
}
#d060 {
	display: none;
}
#d061 {
	display: none;
}
#d062 {
	display: none;
}
#d063 {
	display: none;
}
#d064 {
	display: none;
}
#d065 {
	display: none;
}
#d066 {
	display: none;
}
#d07 {
	display: none;
}
#d070 {
	display: none;
}
#d071 {
	display: none;
}
#d072 {
	display: none;
}
#d10 {
	display: none;
}
#d11 {
	display: none;
}
#d12 {
	display: none;
}
#d13 {
	display: none;
}
